body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
  }
  .main {
    width: 100vw;
  
    height: 100vh;
    background-image: url("./images/kafklafj.png");
    background-size: cover;
    background-position: center;
    
  }
  .container {
    width: 90%;
    margin: auto;
    padding: 2% 0;}
  /* navbar start */
    .navbar {
      display: flex;
      justify-content: space-around;
      align-items: center;
      
     
    }
    
    .navbar__logo {
      width: 100px;
      height: auto;
    }
    
    .navbar__list {
      display: flex;
      list-style: none;
     
    }
    
    .list__item {
      margin: 0 20px;
      -webkit-animation: glow 1s ease-in-out infinite alternate;
      -moz-animation: glow 1s ease-in-out infinite alternate;
      animation: glow 1s ease-in-out infinite alternate;
    }
    
    .list__item a {
      text-decoration: none;
      color: #fff;
      font-weight: bold;
      font-size: 16px;
      padding: 5px 10px;
      border-radius: 5px;
      transition: all 0.3s ease-in-out;
    }
    
    .list__item a:hover {
      background-color: #ff00ff ;
      color: #fff;
      
    }
    .navbar__btn{
      border: none;
      background-color: violet;
      color: white;
      cursor: pointer;
      padding: 10px;
      border-radius: 10px;
      font-size: 16px;
    }
    
    
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
  /* navbar end */
  /* skill bar start */
  .skill__bar{
    width: 80%;
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;

    
  }
  .skill__bar_list{
    list-style: none;
    color: #fff;
    
  }
  .skill__bar_item{
    width: 100%;
    font-size: 30px;
    padding: 2% 100% 2% 2%;
    border-bottom: 2px pink solid ;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
      -moz-animation: glow 1s ease-in-out infinite alternate;
    
  }
  #bar1{
    padding-right: 80%;
  }
  #bar2{
    padding-right: 90%;
  }
  #bar3{
    padding-right: 70%;
  }
  #bar4{
    padding-right: 60%;
  }
  /* skill bar end */

  @media all and (max-width: 768px){
   
    .list__item a{
      font-size: 11px;
    }
    #bar1 {
      padding-right: 30%;
  }
  #bar2{
    padding-right: 35%;
  }
  #bar3{
    padding-right: 25%;
  }
  #bar4{
    padding-right: 20%;
  }
  }
  @media all and (max-width: 576px){
   
  .list__item a{
    font-size: 11px;
  }
  #bar1 {
    padding-right: 25%;
}
#bar2{
  padding-right: 30%;
}
#bar3{
  padding-right: 20%;
}
#bar4{
  padding-right: 15%;
}
}